.footer {
    padding: 20px;
    grid-area: f;
    background-color: darkslategrey;
    min-height:100px;
    color: aliceblue;
}
.item1{
    font-size: 30px;
}
.item2{
    text-align: center;
}